<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet"  href="/css/bootstrap.min.css">
    <link  rel="stylesheet"  href="/css/register.css">
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    
</head>
<body class="d-flex flex-column justify-content-center align-items-center ">
   
 <section class="container mx-2 border border-primary my-2 px-4 py-2 formwidth "  > 
    <h6 class="maintextcolor"><%- val %></h6>
    <h4 class="h4 maintextcolor w-100 text-center ">Chat registration</h4>
    <h6 class="h6" id="statusString">*</h6>
    <form action="/action_page.php" class="was-validated d-flex flex-column justify-content-center myForm">
        <div class="mb-1 mt-1 mx-2">
          <label for="usrName" class="form-label maintextcolor">Your Nikname:</label>
          <input type="text" size="24" maxlength="24" class="form-control maintextcolor" value=<%-userName %> id="usrName" placeholder="Enter username" name="usrName" required>
          <div class="valid-feedback">OK!</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-1 mx-2">
          <label for="password" class="form-label maintextcolor">Your Password:</label>
          <input type="password" size="10" maxlength="10" class="form-control maintextcolor" value=<%-userPassword %> id="password" placeholder="Enter password" name="password" required>
          <div class="valid-feedback">OK!</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-1 mx-2">
          <label for="captchaCode" class="form-label maintextcolor">Captcha code:</label>
          <input type="text" size="10" maxlength="10" class="form-control maintextcolor" id="captchaCode" placeholder="Enter captcha" name="captchaCode" required>
          <div class="valid-feedback">OK!</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-1 mx-2">
          <label for="avatar" class="form-label maintextcolor">Your Avatar image:</label>
          <input type="file" value="Choose JPG File" class="form-control maintextcolor" id="avatar" value=<%-userAvatar %> placeholder="Select an image- your avatar" name="avatar"  accept="image/*"  required/>
          <div class="valid-feedback">OK!</div>
          <div class="invalid-feedback">Please fill out this field.</div>
          </div>
        <h5><%-captcha %></h5>

        <div class="d-flex">
          <img id="demoShow" class="m-2"/>
        </div>
        
      <button type="button" class="btn m-2 btn-primary">Submit</button>
      </form>

</section>
 
<script src="/js/registration.js" type="text/javascript">

   
</script>
</body>
</html>